<form action="/cart/add" enctype="multipart/form-data" id="add-to-cart-form" method="post">
    <select id="productSelect" name="id">
        {% for variant in product.variants %}
            {% if variant.available %}
                <option value="{{ variant.id }}">
                    {{ variant.title }}
                    -
                    {{ variant.price | money_with_currency }}
                </option>
            {% else %}
                <option disabled="disabled">
                    {{ variant.title }}
                    - sold out
                </option>
            {% endif %}
        {% endfor %}
    </select>
    {{ current_variant.price | money }}
    <label for="Quantity">quantity</label>
    <input id="Quantity" min="1" name="quantity" type="number" value="1">
    <button @click="addToCart" id="AddToCart" name="add" type="submit">Add to cart</button>
    ${ variant }
</form>

<script>
 if (document.querySelector('#add-to-cart-form')){
    const productForm = Vue.createApp({
        delimiters: ['${', '}'],
        data() {
            return {
                variant: ''
            }
        },
        created(){
            axios.get('/products/{{ product.handle }}.js')
                .then((res) => {
                    this.variant = res.data.variants[0].id
                })
        },
        methods: {
            addToCart(event){
                event.preventDefault()
                let data = {
                    id: this.variant,
                    quantity: 1
                }

                axios.post('/cart/add.js', data)
                    .then((res) => {
                        console.log(res)
                    })
                    .catch(err => {
                        console.log(err)
                    })
            }
        }
    }).mount('#add-to-cart-form');
 }
</script>