<div class="hero">
    {% unless section.settings.link == blank %}
        <a href="{{ section.settings.link }}">
    {% endunless %}

        <div class="hero-image section">
            <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.alt_text }}">
        </div>
        <div class="rich-text">
            <h2 class="heading">
                {{ section.settings.heading }}
            </h2>
            {% unless section.settings.description == blank %}
                <div class="subhead">
                    {{ section.settings.description }}
                </div>
            {% endunless %}
        </div>
    {% unless section.settings.link == blank %}
        </a>
    {% endunless %}
</div>

{% schema %}
{

    "name": "Hero Image & Text",
    "limit": 1,
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "alt_text",
            "label": "Image alt text",
            "default": "hero image"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Select a resource",
            "default": "/collections/all"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Section Heading"
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description (optional)",
            "default": "<p>Write description here.</p>"
            }
        ], 
        "presets": [
            {
                "name": "Hero Image & Text",
                "category": "Image"
            }
        ]
    }
{% endschema %}