{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<div class="product-template container">
    <div class="product-images">
        <div class="swiper-container-product-page swiper-container-{{- product.id -}}">
            <div class="swiper-wrapper">
                {% if product.images.size > 1 %}
                    {% for image in product.images %}
                        <div class="swiper-slide">
                            <img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}"/>
                            <div class="swiper-button-next swiper-button-next-{{- product.id -}}"></div>
                            <div class="swiper-button-prev swiper-button-prev-{{- product.id -}}"></div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="swiper-slide">
                        <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ image.alt | escape }}"/>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="product-description-container">
        <div class="product-title">
            <h1>{{ product.title }}</h1>
            <div class="product-price">
                {{ product.price | money }}
            </div>
        </div>

        <div class="product-bottom">
            <div class="product-description">
                {{ product.description }}
            </div>
            {% render 'add-to-cart-form' %}
        </div>
    </div>
</div>

<script>
    new Swiper(".swiper-container-{{- product.id -}}", {
        slidesPerView: 1,
        centeredSlides: true,
        spaceBetween: 0,
        loop: true,

        breakpoints: {
            // disables touch on desktop
            600: {
                allowTouchMove: false,
                speed: 0,
                navigation: {
                    nextEl: ".swiper-button-next-{{- product.id -}}",
                    prevEl: ".swiper-button-prev-{{- product.id -}}"
                }
            }
        }
    })
</script>
